.counterNumber{
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.buttonContainer{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    gap: 10px;
}

.button{
    width: 150px; /* Set width as needed */
    height: 50px; /* Set height as needed */
    background-color: lightblue;
    border: 2px solid blue;
    color: rgb(0, 38, 255);
    font-size: 30px;
}

.button:hover{
    background-color: rgba(173, 216, 230, 0.753);
    border: 2px solid rgba(0, 0, 255, 0.753);
    color: rgba(0, 38, 255, 0.753);
}